.up-container {
    margin: 7% 0 7% 0;
    width: 100%;
    display: block;
}
.up-input {
    margin-top: 2%;
    width: calc(100% - 24px);
    height: 20px;
    font-size: 1rem;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #41B883;
}
*:focus {
    outline: none;
}
.up-invalid {
    border: 2px solid red;
}
.up-error {
    margin-top: 2%;
    display: inline-block;
    color: red;
}